/*Inicio*/
.mainUno{
    background-color: $color-a;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: (250px+250)+50;
    #titulo{
        color: $color-white;
        font-size: 36px;
        margin-bottom: 20px;
    }
    div{
        padding: 10px;
        color: $color-white;
        img{
            width: (250px+250)+50;
            border-radius: 2%;
            box-shadow: 2px 4px 15px 0 #e2e2e2;
        }
    }
    &__hijo{
        align-self: center;
        justify-self: center;
    }
    &__imagenInicio{
       @extend .mainUno__hijo
    }
}
.sectionInicio{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    .tituloDos{
        margin-bottom: 20px;
        color: $color-titulos;
        font-size: 30px; 
    }
    div{
        b{
            animation: saltar 1s infinite;
            animation-timing-function: ease-in;
            transform: translatey(0);
            display: inline-block;
            &:nth-child(1){
                animation-delay: 0;
            }
            &:nth-child(2){
                animation-delay: 0;
            }
            &:nth-child(3){
                animation-delay: 0;
            }
            &:nth-child(4){
                animation-delay: 0;
            }
            &:nth-child(5){
                animation-delay: 0;
            }
            &:nth-child(6){
                animation-delay: 0;
            }
            &:nth-child(7){
                animation-delay: 0;
            }
            &:nth-child(8){
                animation-delay: 0;
            }
            &:nth-child(9){
                animation-delay: 0;
                color:$color-h2;
            }
            &:nth-child(10){
                animation-delay: .2s;
                color: $color-h2;
            }
            &:nth-child(11){
                animation-delay: .4s;
                color: $color-h2;
            }
            &:nth-child(12){
                animation-delay: .6s;
                color: $color-h2;
            }
            &:nth-child(13){
                animation-delay: .8s;
                color: $color-h2;
            }
            &:nth-child(14){
                animation-delay: 1s;
                color: $color-h2;
            }
            &:nth-child(15){
                animation-delay: 1.2s;
                color: $color-h2;
            }
            @keyframes saltar{
                0%{
                    transform: translateY(0);
                }
                10%{
                    transform: translateY(-1px);
                }
                50%{
                    transform: translateY(3px);
                }
                80%{
                    transform: translateY(5px);
                }
            }
        }
        iframe{
            padding: 20px;
            box-shadow: $box-shadow-grey;
            margin-top: 40px;
        }
    }
}

