$color-uno: #f8f9fa;
$color-dos: #e2e2e2;
$color-white: #fff;
$color-titulos: #071e55;
$color-h2: #212529;
$color-a: #707172;
$color-black: #000;
$color-whatsapp:#00bb2d;
$color-facebook: #3b5998;
$color-instagram: #833ab4;
$hover-fab: #85daf0;
$borde-grey:  #707172 solid 1px;
$border-bottom: 3px solid #707172; 
$box-shadow-white: 2px 4px 15px 0 #e2e2e2;
$box-shadow-grey: 2px 4px 15px #707172;
$box-shadow-somos: 2px 4px 15px #76b2ee;
$box-shadow-grey-oscuro: 2px 4px 15px #212529;
$backgrund-gradient-white: linear-gradient(#f8f9fa,#e2e2e2);
